<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    <nav>
        <a href="{% url 'main_page' %}">Главная</a> &gt; 
        <strong>Список товаров</strong>
    </nav>
    
    <h1>Список товаров</h1>
    <ol>
        {% for item in items %}
            <li>
                <a href="{% url 'item_detail' item.id %}">{{ item.name }}</a> 
                (Количество: 
                {% if item.quantity == 0 %}
                    <i>товар отсутствует</i>
                {% else %}
                    <i>{{ item.quantity }}</i>
                {% endif %})
            </li>
        {% endfor %}
    </ol>
    
    <br>
    <a href="{% url 'main_page' %}">На главную</a> |
    <a href="{% url 'items_list' %}">Обновить список товаров</a>
</body>
</html>