<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    <h1>Список товаров</h1>
    <ol>
        {% for item in items %}
            <li>
                <a href="{% url 'item_detail' item.id %}">{{ item.name }} (Бренд: {{ item.brand }}, Количество: {{ item.count }})</a>
            </li>
        {% empty %}
            <li>Нет доступных товаров.</li>
        {% endfor %}
    </ol>
</body>
</html>