<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    <h1>Список товаров</h1>
    <ol>
        {% for item in items %}
            <li>
                <a href="{% url 'item_detail' item.id %}">{{ item.name }}</a> - Количество: {{ item.quantity }}
            </li>
        {% endfor %}
    </ol>
    <br>
    <a href="{% url 'home' %}">На главную</a> | 
    <a href="{% url 'about' %}">Обо мне</a>
</body>
</html>